# /lib/systemd/system/mason.service

[Unit]
Description=Mason PXE boot API

[Service]
User=root
Group=root
WorkingDirectory=/root/mason
Restart=always
ExecStart=/usr/bin/ruby bin/mason

[Install]
WantedBy=multi-user.target
